<html>

<head>
    <meta charset="utf-8" />
    <title>Authorization Code Flow Flask Example Web app</title>
</head>

<body>
    {% if session %}
    {% if session.username %}
    <h1>Welcome {{session.username}}!</h1>
    {% endif %}
    {% if session.email %}
    <h1>your email is {{session.email}}!</h1>
    {% endif %}
    <p><a href="/logout">Logout</a></p>
    <p><a href="/get_info">get info</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1>Welcome Guest</h1>
    <p><a href="/login">Login</a></p>
    {% endif %}
</body>

</html>